body{
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
h1{
    font-size: 85px;
    display: inline-block;
    color: #02bcae;
    height: 7rem;
    width: 80%;
    text-align: center;
    font-weight: normal;
    margin:0;
}
h2{
    font-size: 65px;
    color: #02bcae;
    font-weight: normal;
    margin:0;
}
h3{
    color:white;
    font-size:48px;
    font-weight: normal;
    padding:35% 3rem;
    margin:0;
}
h4{
    display: inline-flex;
    font-size: 36px;
    color: #02bcae;
    text-align: center;
    padding: 11rem 0 0 5rem;
    margin:0;
    font-weight: normal;
}
h5{
    font-size: 36px;
    color: #02bcae;
    font-weight: normal;
    margin:4rem 0 1rem 0;
}
a{
    text-decoration: none;
}
#entete{
    margin-bottom:5rem;
}
.burgermenu{
    display: inline-flex;
    background-color: #02bcae;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    float: right;
}
.burgermenu img{
    margin: 15px 0 0 15px;
}
#menu{
    display: none;
}
#option{
    width:100%;
    height:27rem;
    background-color: black;
    margin: 5rem 0;
    border-radius: 1rem;
    overflow: hidden;
}
.mine{
    background-image: url("images/mine.jpg");
    background-size: 50%;
    background-position: right bottom;
}
.new{
    background-image: url("images/new.jpg");
    background-size: 70%;
    background-position: left center;
}
.trapezoidleft{
    border-bottom: 27rem solid #02bcae;
	border-right: 13rem solid transparent;
	height: 0;
    width: 37%;
}
.trapezoidright{
    border-bottom: 27rem solid #02bcae;
	border-left: 17rem solid transparent;
	height:0;
    width: 30%;
    float:right;
    /* border-radius: 0 1rem 1rem 0; */
}
#plants{
    width:100%;
    height:17rem;
    background-color: grey;
    margin: 5rem 0;
    border-radius: 1rem;
    overflow: hidden;
}
#plants h3{
    padding:15% 3rem;
}
.profilpict{
    display: inline-flex;
    margin: 5rem 0 0 0;
    width: 15rem;
    height: 15rem;
    border: 0.25rem solid #02bcae;
    overflow: hidden;
    float:left;
    border-radius: 1rem;
}
.profilpict img{
    max-width:100%;
    max-height:100%;
    min-width:15rem;
    min-height:15rem;
}
.name{
    height: 21rem; 
}
.water img{
    width:3rem;
    margin-right:1rem;
}
.container article article{
    display: inline-block;
    width:45%;
}
.sciname{
    border: none;
    border-bottom: 0.25rem solid #02bcae;
    display: inline-flex;
    font-size: 36px;
    color: #02bcae;
    text-align: center;
    margin: 11rem 0 0 5rem;
    margin:0;
    font-weight: normal;
}